<div class="content">
    <div >
        <div>
            <h2 style="text-align: center;"><b>About the Consero Intranet Links Website</b></h2>
             <ul style="text-align: center;">
                <li>This project involves the design and development of an website that serves as an centralized hub for accessing links to various company resources.</li>
                <li>The website is intended to provide users with an organized and user-friendly interface for quick access to key online platforms such as Consero Internet Links, Human Resources Links, US Admin Links, Delivery Links, Sales & Marketing Links and other relevant external services like Google Drive, OneDrive, or SharePoint.</li>          
                <li>The website will feature a clean, intuitive layout with multiple dropdown menus and categories, allowing users to easily navigate between different sections, each dedicated to a specific department or service.</li>
            </ul>
        </div>
        <!-- First Video -->
        <div>
            <iframe src="https://www.youtube.com/embed/s5KyAs6y0qo?autoplay=1&mute=1&loop=1&playlist=s5KyAs6y0qo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
        </div>
    </div>  
<br><br>
    <div class="div2">
         <!-- second Video -->
    <div >
        <iframe src="https://www.youtube.com/embed/rRuGX7-63Ho?autoplay=1&mute=1&loop=1&playlist=rRuGX7-63Ho" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
    </div><br><br>
    <div>
        <h2><b>Key Components of Consero Intranet Website</b></h2>
        <p> <b>Main Navigation:</b>  A clear and concise navigation bar that includes categories like "Internet Resources," "Company Portals," "HR Tools," "Admin Services," and more. <br>
           <b> Dropdown Menus:</b> Interactive dropdown menus for each category, enabling users to explore various links grouped by their respective departments or functions (e.g., GDrive, OneDrive, internal apps, HR services). <br>
            <b>Security and Authentication: </b>Links to internal tools will be secured with authentication, ensuring that only authorized personnel can access sensitive resources. <br>
            <b>Responsive Design: </b>The website will be designed to function seamlessly on desktops, tablets, and smartphones, enhancing accessibility</p>
    </div>
    </div>
</div>