<div class="container py-4 py-md-5 px-4 px-md-3_text-body-secondary" id="linkssection">
    <!-- Internet -->
    <div class="row">
      <div class="Internet" >
        <h4>Internet/G-Drive/One-Drive</h4>
        <ul class="list-unstyled">
          <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu1', true)" (mouseleave)="toggleSubmenu('submenu1', false)">
            <a class="dropdown-item" href="#">Consero General Quick Link &raquo;</a>
            <ul class="dropdown-menu" *ngIf="submenuOpen['submenu1']">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Internet &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Consero Global</a></li>
                  <li><a class="dropdown-item" href="#">SIMPL</a></li>
                  <li><a class="dropdown-item" href="#">Nexonia T&E</a></li>
                  <li><a class="dropdown-item" href="#">Chorus</a></li>
                  <li><a class="dropdown-item" href="#">Sales Force</a></li>
                  <li><a class="dropdown-item" href="#">Khorus</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">G-Drive</a></li>
                </ul>
              </li>
            </ul>
          </li>
             <!-- Delivery -->
             <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
              <a class="dropdown-item" href="#">Delivery &raquo;</a>
              <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">Internet &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Blackline</a></li>
                    <li><a class="dropdown-item" href="#">Client Success Survey</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Monthly KPIs</a></li>
                    <li><a class="dropdown-item" href="#">Overage Billings</a></li>
                    <li><a class="dropdown-item" href="#">SOC reports-Consero</a></li>
                    <li><a class="dropdown-item" href="#">SOC Reports-Client Tools</a></li>
                    <li><a class="dropdown-item" href="#">Standards/Policies/Procedures</a></li>
                    <li><a class="dropdown-item" href="#">Tech Accounting Documentation</a></li>
                    <li><a class="dropdown-item" href="#">VPF Budget Calculator</a></li>
                  </ul>
                </li>
              </ul>
            </li>
        
      
            <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
              <a class="dropdown-item" href="#">Professional Service Group &raquo;</a>
              <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">Internet &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Bill.com API Site</a></li>
                    <li><a class="dropdown-item" href="#">Intact API Site</a></li>
                    <li><a class="dropdown-item" href="#">Intact Market Place</a></li>
                    <li><a class="dropdown-item" href="#">Training1: One view Navigating Power BI</a></li>
                    <li><a class="dropdown-item" href="#">Training2:One View Report Content</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">G-Drive File Index</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Link2</a></li> -->
                  </ul>
                </li>
              </ul>
            </li>
      
            <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
              <a class="dropdown-item" href="#">Human Resources &raquo;</a>
              <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">Internet &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">TriNet (HR)</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Link2</a></li> -->
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">India Holidays</a></li>
                    <li><a class="dropdown-item" href="#">North America Holidays</a></li>
                  </ul>
                </li>
              </ul>
            </li>
      
            <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
              <a class="dropdown-item" href="#">Sales & Marketing &raquo;</a>
              <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">Internet &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Consero Offering 3 minute Video</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Consero Global Site, with Video</a></li> -->
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Assessment Documentation</a></li>
                    <li><a class="dropdown-item" href="#">Branding Template</a></li>
                    <li><a class="dropdown-item" href="#">Client Contracts</a></li>
                    <li><a class="dropdown-item" href="#">Quote Rates</a></li>
                  </ul>
                </li>
              </ul>
            </li>
      
            <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
              <a class="dropdown-item" href="#">US Admin &raquo;</a>
              <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">Internet &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Link1</a></li>
                    <li><a class="dropdown-item" href="#">Link2</a></li>
                  </ul>
                </li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Meeting Cadence-Client Services</a></li>
                    <li><a class="dropdown-item" href="#">Acronyms</a></li>
                  </ul>
                </li>
              </ul>
            </li>
      
            <li class="dropdown-submenu" (mouseover)="toggleSubmenu('submenu2', true)" (mouseleave)="toggleSubmenu('submenu2', false)">
              <a class="dropdown-item" href="#">Product &raquo;</a>
              <ul class="dropdown-menu" *ngIf="submenuOpen['submenu2']">
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">Internet &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Link1</a></li>
                    <li><a class="dropdown-item" href="#">Link2</a></li>
                  </ul>
                </li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="#">G-Drive &raquo;</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Product Request Form</a></li>
                    <li><a class="dropdown-item" href="#">Product Fact Sheet</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            </ul>
        </div> 
        <!-- App -->
       
      </div>
     